# This is the first of three notebooks dedicated to the assignment Segmenting and Clustering Neighborhoods in Toronto. This notebook contains data dump, cleaning and preparation.

__Import data given url to pandas dataframe__

In [2]:
import pandas as pd
                                                                                                             
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.'
url_tables_list = pd.read_html(url)
df_postcodes = url_tables_list[0]
df_postcodes

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

__Ignoring cells with a borough that are Not assigned__

In [3]:
ignore = ['Not assigned'] 
df_postcodes = df_postcodes.loc[~df_postcodes['Borough'].isin(ignore)]

In [4]:
df_postcodes

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

__Combining the rows with the same postal code into one row with the neighborhoods separated with a comma__

In [5]:
df_postcodes_opt = df_postcodes.groupby(by='Postcode')['Neighbourhood'].agg(','.join).reset_index()
df_postcodes_full =  pd.merge(df_postcodes_opt, df_postcodes[['Postcode', 'Borough']] , on='Postcode', how='left').drop_duplicates().reset_index(drop=True)
cols = [0,2,1]
df_postcodes_full = df_postcodes_full[df_postcodes_full.columns[cols]]
df_postcodes_full

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

__In rows with Not assigned neighborhood cell , replace this cell with a borough value__

In [6]:
# variable ignore is defined previously in this notebook
mask = df_postcodes_full['Neighbourhood'] == ignore[0]
df_postcodes_full.loc[mask, 'Neighbourhood'] = df_postcodes_full.loc[mask, 'Borough']
df_postcodes_full

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

__Save dataframe into csv file in order to use in next notebooks__

In [7]:
df_postcodes_full.to_csv('df_postcodes_full.csv',index=False)

__number of rows of dataframe__

In [9]:
print('The number of rows of final dataframe is {}'.format(df_postcodes_full.shape[0]))

The number of rows of final dataframe is 103